<% include ./partials/header %>
 <div class="py-2">
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 col-xs-12">
          <div class="card text-white p-3 borderborder-secondary thick-border register-login-form">
            <div class="card-body">
              <h1 class="mb-4 text-center text-primary">Reset Your Password</h1>
              <form action="/reset/<%=token%>" method="POST">
                <div class="form-group text-dark"> <label>New Password</label>
                  <input class="form-control" type='password', name='password', value='', placeholder='New password', autofocus=true minlength="4", required>
                </div>
                <div class="form-group text-dark"> <label>Confirm Password</label>
                <input class="form-control" type='password', name='confirm', value='', placeholder='Confirm password'>
                </div>
                <button type="submit" class="btn btn-secondary btn-block btn-lg my-2"><b>Confirm Password</b></button>
              </form>
              <p class="lead text-center text-dark">Know Your Password? <b><a href="/login">Login</a></b></p>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
<% include ./partials/footer %>