<% include ../partials/header %>
  <form action="/recipes" method="POST" enctype="multipart/form-data" onsubmit="showLoadingAnimation()">
    <div class="container-fluid">
      <div class="row mb-3">
        <!--Row 1- LEFT COLUMN-->
        <div class="col-lg-6 col-md-12 col-xs-12 mb-2 p-0">
          <h3 class="">Share Your Recipe!</h3>
            <div class="card-body recipe-show-primary-info border-0 p-0">
              <div class="custom-file mb-3">
                <input type="file" class="custom-file-input form-control-lg w-100" name="image" id="image" accept="image/*" required>
                <label class="btn btn-primary btn-lg w-100 mb-5" for="image">Upload Image</label>
              </div>
              <h1 class="card-title text-primary display-3">
                <input class="form-control form-control-lg" type="text" name="title" placeholder="Recipe Title" minlength="5" maxlength="200" required>
              </h1>
              <h4 class="card-title text-primary display-3">
                <textarea class="form-control form-control-lg" id="description-text" type="text" name="description" minlength="50" maxlength="400" placeholder="Description" required></textarea>
              </h4>
              <!--Prep Time & Cook Time: -->
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="prepTime"><small>Prep Time</small></label>
                </div>
                <input class="form-control" type="number" name="prepTime" id="prepTime" placeholder="minutes" maxlength="4" required>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text font-weight-bold" for="cookTime"><small>Cook Time</small></label>
                </div>
                <input class="form-control" type="number" name="cookTime" id="cookTime" placeholder="minutes" maxlength="4" required>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text font-weight-bold" for="category"><small>Category</small></label>
                </div>
                <select class="custom-select form-control" name="category" id="category" required>
                  <option value="Breakfast">Breakfast</option>
                  <option value="Lunch">Lunch</option>
                  <option value="Dinner">Dinner</option>
                  <option value="Snack">Snack</option>
                  <option value="Dessert">Dessert</option>
                  <option value="Beverage">Beverage</option>
                  <option value="Other">Other</option>
                </select>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="allergens"><small>Allergens</small></label>
                    </div>
                    <div class="form-control h-auto" id="allergens">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="allergens[]" id="glutenFree" value="Gluten-Free">
                        <label class="form-check-label" for="glutenFree"><small>Gluten-Free</small></label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="allergens[]" id="vegetarian" value="Vegetarian">
                        <label class="form-check-label" for="vegetarian"><small>Vegetarian</small></label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="allergens[]" id="vegan" value="Vegan">
                        <label class="form-check-label" for="vegan"><small>Vegan</small></label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="allergens[]" id="dairyFree" value="Dairy-Free">
                        <label class="form-check-label" for="dairyFree"><small>Dairy-Free</small></label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="allergens[]" id="nutFree" value="Nut-Free">
                        <label class="form-check-label" for="nutFree"><small>Nut Free</small></label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <label for="difficultyInput">Difficulty: <span class="text-muted" id="rangeText">Easy</span></label>
                  <input type="range" class="custom-range" id="difficultySlider" name="difficulty" value=0 min="0" max="2" step="1" required>
                </div>
              </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-xs-12 mb-2 p-0">
          <div class="centered-div pt-4">
            <img id="imagePreview">
          </div>
        </div>
      </div>
      <!--DIRECTIONS & INGREDIENTS-->
      <div class="row mb-3">
        <div class="col-lg-5 col-md-5 col-xs-12 p-1">
          <h3 class="">Ingredients</h3>
          <div class="ingredients_input_fields_wrap">
            <button class="btn btn-secondary ingredients_add_field_button btn-block btn-sm my-2">Add Ingredient</button>
            <div class="input-group mb-2"><input class="form-control" type="text" name="ingredients[]" required>
              <div class="input-group-append"><button class="btn btn-outline-danger btn-sm remove_field" type="button"><i class="fas fa-trash-alt"></i></button></div>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-md-7 col-xs-12 p-1">
          <h3 class="">Directions</h3>

          <div class="directions_input_fields_wrap">
            <button class="btn btn-secondary directions_add_field_button btn-block btn-sm my-2">Add Step</button>

            <div class="input-group mb-2"><input class="form-control" type="text" name="directions[]" required>
              <div class="input-group-append"><button class="btn btn-outline-danger btn-sm remove_field" type="button">
          <i class="fas fa-trash-alt"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block btn-lg my-2"><b>Add Recipe</b></button>
      </div>
    </div>
  </form>
  <script type="text/javascript">
var rangeValues =
{
    "0": "Easy",
    "1": "Medium",
    "2": "Challenging"
};

$(function () {

    // on page load, set the text of the label based the value of the range
    $('#rangeText').text(rangeValues[$('#difficultySlider').val()]);

    // setup an event handler to set the text when the range value is dragged (see event for input) or changed (see event for change)
    $('#difficultySlider').on('input change', function () {
        $('#rangeText').text(rangeValues[$(this).val()]);
    });

});
</script>
  <script>
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
          $('#imagePreview').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
      }
    }

    $("#image").change(function() {
      readURL(this);
    });
  </script>
  <script>
    $(document).ready(function() {
      var max_fields = 40; //maximum input boxes allowed
      var wrapper = $(".ingredients_input_fields_wrap"); //Fields wrapper
      var add_button = $(".ingredients_add_field_button"); //Add button ID

      var x = 1; //initlal text box count
      $(add_button).click(function(e) { //on add input button click
        e.preventDefault();
        if (x < max_fields) { //max input box allowed
          x++; //text box increment
          $(wrapper).append('<div class="input-group mb-2"><input class="form-control" type="text" name="ingredients[]"><div class="input-group-append"><button class="btn btn-outline-danger btn-sm remove_field" type="button"><i class="fas fa-trash-alt"></i></button></div></div>'); //add input box
        }
      });

      $(wrapper).on("click", ".remove_field", function(e) { //user click on remove text
        e.preventDefault();
        $(this).parents().eq(1).remove();
        x--;
      })
    });
  </script>
  <script>
    $(document).ready(function() {
      var max_fields = 40; //maximum input boxes allowed
      var wrapper = $(".directions_input_fields_wrap"); //Fields wrapper
      var add_button = $(".directions_add_field_button"); //Add button ID

      var x = 1; //initlal text box count
      $(add_button).click(function(e) { //on add input button click
        e.preventDefault();
        if (x < max_fields) { //max input box allowed
          x++; //text box increment
          $(wrapper).append('<div class="input-group mb-2"><input class="form-control" type="text" name="directions[]"><div class="input-group-append"><button class="btn btn-outline-danger btn-sm remove_field" type="button"><i class="fas fa-trash-alt"></i></button></div></div>'); //add input box
        }
      });

      $(wrapper).on("click", ".remove_field", function(e) { //user click on remove text
        e.preventDefault();
        $(this).parents().eq(1).remove();
        x--;
      })
    });
  </script>
  <script>
    $(function() {
      $('#recipe-tags').tagEditor({
        initialTags: [],
        delimiter: ',',
        /* space and comma */
        placeholder: 'Ex: "gluten free, vegetarian, etc..."'
      });
    });
  </script>
  <script>
    $(".dropdown-menu li a").click(function() {
      $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
      $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
    });
  </script>
  <script>
    $('#description-text').keyup(updateCount);
    $('#description-text').keydown(updateCount);

    function updateCount() {
      var cs = $(this).val().length;
      $('#character-count').text(cs);
    }
  </script>

  <% include ../partials/footer %>